@charset "utf-8";
/* CSS Document */

.background-initial {
  background-image: url("../images/pregnant-6189040_1920.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Social button wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}
.facebook span {
  background-color: #3b5998;
}
.instagram span {
  background-color: #e1306c;
}
.twitter span {
  background-color: #4099ff;
}
.linkedin span {
  background-color: #2867b2;
}
.github span {
  background-color: #34526f;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}

.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3b5998;
}
.icon-button .fa-github {
  color: #34526f;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #e1306c;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-linkedin {
  color: #2867b2;
}

.icon-button:hover .fa-twitter {
  color: white;
}
.icon-button:hover .fa-facebook {
  color: white;
}
.icon-button:hover .fa-linkedin {
  color: white;
}
.icon-button:hover .fa-github {
  color: white;
}
.icon-button:hover .fa-instagram {
  color: white;
}
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: white;
}