@charset "utf-8";
/* CSS Document */

.background-initial {
  background-image: url("../images/pregnant-6189040_1920.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}